# Dependencies
node_modules/

# Build outputs
dist/
target/
build/

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Database
backend_java/data/*.mv.db
*.mv.db
*.trace.db
